
<body>
    <div class="wrapper">
        <div class="title">
            <h4><span>Fresh Food For Good Health</span>Our Menu</h4>  
        </div> 
        <div class="menu">
            <div class="single-menu">
                <img src="assets/menu-1.jpg" alt="">  
                <div class="menu-contact">
                    <h4>chicken fried rice<span>Rs.120</span></h4>
                    <p>This really special chicken fried rice is loaded with lots of veggies,
                         eggs and meats making it a yummy and fulfilling one pot meal </p> 
                </div>
             </div> 
             
           <div class="single-menu">
              <img src="assets/menu-2.jpg" alt="">  
              <div class="menu-contact">
                  <h4>Fish Fry<span>Rs.150</span></h4>
                  <p>A fish fry is a meal containing battered or breaded fried fish.
                       It usually also includes  lemon slices, malt vinegar and dessert. </p>   
              </div>
           </div> 
           <div class="single-menu">
              <img src="assets/menu-3.jpg" alt=""> 
              <div class="menu-contact">
                  <h4>Panner Tikka <span>Rs.130</span></h4>
                  <p>Paneer tikka is an Indian dish made from chunks of paneer marinated in spices and grilled in a tandoor.</p>   
              </div>
           </div> 
           <div class="single-menu">
              <img src="assets/menu-4.jpg" alt=""> 
              <div class="menu-contact">
                  <h4>chicken-65<span>Rs.120</span></h4>
                  <p>a spicy, deep-fried chicken dish originating from Hotel Buhari, India as an entrée or quick snack.
                       but the exact set of ingredients for the recipe can vary.</p>   
              </div>
           </div> 
           <div class="single-menu">
              <img src="assets/menu-5.jpg" alt=""> 
              <div class="menu-contact">
                  <h4>Hyderbadi Briyani<span>Rs.200</span></h4> 
                  <p>Hyderabadi dum biryani, is a style of biryani from Hyderabad,
                   India made with basmati rice and goat meat and cooked with the dum pukht method. </p>  
              </div>
           </div> 
           <div class="single-menu">
              <img src="assets/menu-6.jpg" alt=""> 
               <div class="menu-contact">
                  <h4>chicken Briyani<span>Rs.120</span></h4>
                  <p>chicken biryani, is a style of biryani which was invented from mughal empire,
                       India made with basmati rice and chicken meat and cooked with the dum pukht method. </p>   
               </div>  
           </div>
           <div class="single-menu">
             <img src="assets/menu-7.jpg" alt=""> 
               <div class="menu-contact">
                <h4>chicken Pizza<span>Rs.100</span></h4>
                <p>an Italian dish consisting of a usually round, flattened base of leavened wheat-based dough topped with tomatoes,
                     cheese, and often various other ingredients</p>   
                </div>  
          </div> 
          <div class="single-menu">
            <img src="assets/menu-8.jpg" alt=""> 
              <div class="menu-contact">
               <h4>Ceylon parotta<span>Rs.80</span></h4>
               <p>Two layered parotta usually with stuffing in between. Often rectangle in shape</p>   
               </div>  
         </div> 
         <div class="single-menu">
            <img src="assets/menu-9.jpg" alt=""> 
              <div class="menu-contact">
               <h4>Chicken shawaram<span>Rs.60</span></h4>
               <p> dish consisting of meat cut into thin slices, stacked in a cone-like shape,
                    and roasted on a slowly-turning vertical rotisserie or spit.</p>   
               </div>  
         </div> 
         <div class="single-menu">
            <img src="assets/menu-10.jpeg" alt=""> 
              <div class="menu-contact">
               <h4>Veg.burger<span>Rs.65</span></h4>
               <p>is a food, typically considered a sandwich, consisting of one or more cooked patties of ground meat,
                    usually beef, placed inside a sliced bread roll or bun. </p>   
               </div>  
         </div> 
         <div class="single-menu">
            <img src="assets/menu-11.jpeg" alt=""> 
              <div class="menu-contact">
               <h4>Atho<span>Rs.80</span></h4>
               <p>an egg noodle dish</p>   
               </div>  
         </div> 
         <div class="single-menu">
            <img src="assets/menu-12.jpg" alt=""> 
              <div class="menu-contact">
               <h4>Schezwan prawn noodles<span>Rs.120</span></h4>
               <p>A spicy and pungent sauce made with dry red chillies, garlic, shallots and spices.</p>   
               </div>  
         </div> 
         <div class="single-menu">
            <img src="assets/menu-13.jpg" alt=""> 
              <div class="menu-contact">
               <h4>Jalapeno Cheese Wrap<span>Rs.160</span></h4> 
               <p>Tortilla wrap is spread with our special sauce,stuffed up 
                   with fried Jalapeno cheese poppers. 
               </p>   
               </div>  
         </div> 
         <div class="single-menu">
            <img src="assets/menu-14.jpg" alt=""> 
              <div class="menu-contact">
               <h4>vannila milkshake<span>Rs.50</span></h4>
               <p>Classic milkshake with Original vanilla</p>   
               </div>  
         </div> 
         <div class="single-menu">
            <img src="assets/menu-15.jpg" alt=""> 
              <div class="menu-contact">
               <h4>Filter coffee <span>Rs.25</span></h4> 
               <p></p>   
               </div>  
         </div> 
        </div>
    </div>
</body> 