.banner
{
    min-height: 100vh;
    background: url("../../assets/order.jpg") center/cover no-repeat 
     
} 
.card-contanier
{
    display: grid;
    grid-template-columns: 420px 420px;
}  
.card-img 
{
    background: url("../../assets/negroni.jpg"); 
} 
.banner h2 
{
    padding-bottom: 40px;
    margin-bottom: 20px; 
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}  
.card-content{
    background: #fff;
    height: 330px;
    width: 50%;
    margin-left: 25%;
    margin-right: 10%;
} 
.card-content h3 
{
    text-align: center;
    color: black;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 300;
}
.form-row 
{
    display: flex;
    width: 50%;
    margin: 0 auto;
} 
.form select,form input{
    display: block;
    width: 50%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    outline: none;
    border:none;
    border-bottom: 1px solid #eee;
    font-weight: 30; 
    opacity: 5;
} 
.form input[type=text], form input[type=number],form input::placeholder,
  select{
      color:black;
  }  
.form input [type=submit]{  
   color: red; 
   background: #f2745f;
   padding: 12px 0;
   border-radius: 4px;
   cursor: pointer; 
} 
.form input[type=submit]:hover{
   opacity: 0.9;
   background-color: #f2745f;  
} 

@media(max-width:992px){
   .card-container{
       grid-template-columns: 100%; 
   }
}

#hours {
    margin-left: 25%;
}
