<section class="banner">
    <h2>BOOK YOUR TABLE NOW</h2> 
    <div class="card-container">
        <div class="card-img">
            <!--image here-->
        </div> 

        <div  class="card-content">
            <h3>Reservation</h3> 
            <br><br>
            <form (ngSubmit)="bookTable()">
                <div class="form-row"> 
                 <select name="days" [(ngModel)]="bookModel.ReservationDay" >
                       <option value="day-select">Select Day</option>  
                       <option value="Sunday">Sunday</option> 
                       <option value="Monday">Monday</option> 
                       <option value="Tuesday">Tuesday</option> 
                       <option value="Wednesday">Wednesday</option> 
                       <option value="Thursday">Thursday</option> 
                       <option value="Friday">Friday</option> 
                       <option value="Saturday">Saturday</option> 
                  </select>
                  
                  <select name="hours" id="hours" [(ngModel)]="bookModel.ReservationHour" >
                      <option value="hour-select">Select Hour</option>
                      <option value="7:00 PM">7:00 PM </option> 
                      <option value="8:00 PM">8:00 PM </option> 
                      <option value="9:00 PM">9:00 PM </option> 
                      <option value="10:00 PM">10:00 PM </option> 
                      <option value="11:00 PM">11:00 PM</option> 
                      <option value="12:00 AM">12:00 AM</option> 
                      <option value="1:00 AM">1:00 AM</option>
                  </select>
                </div> 

                <div class="form-row" >
                    <input type="text" placeholder="Full name" [(ngModel)]="bookModel.Name" required> 
                    <input type="text" placeholder="Phone number" [(ngModel)]="bookModel.PhoneNumber" required> 
                </div> 

                <div class="form-row">
                    <input type="number" placeholder="How Many Persons?" min="1" max="12" [(ngModel)]="bookModel.NumOfPersons" required>   
                    <input type="submit" value ="Book Table">
                </div>
            </form>
        </div>
    </div> 
</section>