<div class="about-section">
    <h1>About Us </h1>
    <p>It was Mike ross  that gave Jane  the idea to open a small budget chain hotel . 
      John provided an initial investment of $30000, and a business relationship was forged that would change the landscape of the
       fast food industry and the lives of thousands..</p>
   
  </div> 


<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/team1.jpg" alt="Jane" style="width:30%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
      
        <p>jane2012@gmail.com</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/team2.jpg" alt="Mike" style="width:30%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
    
        <p>mikeross12@gmail.com</p>
      
      </div>
    </div>
  </div>

  <div class="column"> 
    <div class="card">
      <img src="assets/team3.jpg" alt="John" style="width:30%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        
        <p>john90doe@gmail.com</p>
        
      </div>
    </div>
  </div>
</div>
